.nav-bar {
  display: flex;
  padding: 5px;
  gap: 25px;
  background-color: var(--main-bg-color);
}

.nav-bar * {
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-decoration: none;
  text-align: center;
}

.nav-bar h1 {
  font-size: 32pt;
}

.nav-bar a {
  font-size: 18pt;
}

.nav-bar a:hover {
  color: var(--main-bg-color);
  background-color: white;
  border-radius: 360px;
}
